{% extends 'Landing/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="row justify-content-center mt-5">
		<div class="col-md-10 col-sm-12 text-center>
                        <meta name="propeller" content="2ce6d1faf14756df71bf9e96823bf5fb">
			<script data-ad-client="ca-pub-3433886412715629" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<a style="background-image: url(media/uploads/profile_pictures/Ramadan.png);"></a>
			<h1 class="display-2">Connect With Your Friends!</h1>
			<p class="mt-3 lead">Follow people you like, who interest you, Join conversations with Your Friends!</p>
			<h2 class="mt-3 lead">Ramdan Kareem</h2>
			<h2 class="mt-3 lead">رمضان كريم !</h2>
			<div class="d-flex justify-content-center mt-5">
				<a href="{% url 'post-list' %}" class="btn  btn-light mr-2">Login</a>
				<a href="{% url 'post-list' %}" class="btn btn-dark">Register</a>
			</div>
		</div>
	</div>
</div>

			<style>
.blue-color {
color:blue;
}
.green-color {
color:green;
}
.teal-color {
color:teal;
}
.yellow-color {
color:yellow;
}
.red-color {
color:red;
}
</style>
			
{% endblock content %}
