



 

<div class="dropdown">
    
    <head>
        <link rel="stylesheet" href="safecommunity/static/style.css">
    </head>
    <span class="badge bg-primary notification-badge"><i class="fas fa-bell"></i>{{ notification.count }}</span>
    <div class"dropdown-content" id="notification-container">
        {% for notification in notifications %}
            {% if notification.post %}
                {% if notification.notification_type == 1 %}
                <div class="dropdown-item-parent">
                    <div class="card">
                        <div class="card-body">
                            <a href="#">@{{ notification.from_user }} Reacted to Your Post</a>
                            <span class="dropdown-item-close">&times;</span>
                        </div>
                    </div>
                </div>
                {% elif notification.notification_type == 2 %}
                <div class="dropdown-item-parent">
                    <div class="card">
                        <div class="card-body">
                            <a href="#">@{{ notification.from_user }} Commented on Your Post</a>
                            <span class="dropdown-item-close">&times;</span>
                        </div>
                    </div>
                </div>>
                {% endif %}
            {% else %}
            <div class="dropdown-item-parent">
                    <div class="card">
                        <div class="card-body">
                            <a href="#">@{{ notification.from_user }} Started Following You</a>
                            <span class="dropdown-item-close">&times;</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
    </div>
</div>


